/* Commond */

.content {
    margin-top: 122px;
}

.Login {
    width: calc(100%/2.5);
    text-align: center;
    margin: 60px auto;
    padding: 20px 20px 30px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.Login__form {
    padding: .6rem .75rem !important;
}

.Login__add {
    padding: 20px 0;
}

.Login__add-social {
    padding: 6px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}

.Login__add-social:hover {
    background-color: #ccc;
}

.Login__add-fb {
    margin-left: 3px;
}

.Login__add-gg {
    margin-left: 6px;
}

.mg-row {
    margin-right: -8px !important;
    margin-left: -8px !important;
}

.pd-col {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.Sub__login-forger,
.Sub__login-newacc {
    cursor: pointer;
}

.Login__Or::before,
.Login__Or::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dashed #ccc;
    margin: auto;
}

.Sub__login-leftArr {
    width: 10px;
    margin: 0 -4px 2px 0;
    ;
}

.form-message {
    color: red;
    text-align: left !important;
}
