/* Commond */

.content {
  margin-top: 122px;
}

.login {
  width: calc(100% / 2.5);
  text-align: center;
  margin: 60px auto;
  padding: 20px 20px 30px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.login__form {
  padding: 0.6rem 0.75rem !important;
}

.login__add {
  padding: 20px 0;
}

.login__add-social {
  padding: 6px 0;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
}

.login__add-social:hover {
  background-color: #ccc;
}

.login__add-fb {
  margin-left: 3px;
}

.login__add-gg {
  margin-left: 6px;
}

.mg-row {
  margin-right: -8px !important;
  margin-left: -8px !important;
}

.pd-col {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.sub__login-forger,
.sub__login-newacc {
  cursor: pointer;
}

.login__or::before,
.login__or::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px dashed #ccc;
  margin: auto;
}

.sub__login-leftArr {
  width: 10px;
  margin: 0 -4px 2px 0;
}

.form-message {
  color: red;
  text-align: left !important;
}
.login-warning {
  color: red;
}
